<div class="chatline">
	<div class="container the-content">
		<div class="box">
			<div class="row no-gutters_">
				<div class="col-10_ header-left">
					<h1>Usuario: {{user.firstname + ' ' + user.lastname }} identificado con DNI N {{user.dni}}</h1>
				</div>
				<!-- {{user|json}} -->
				<div class="col-2_ header-right">
					<p class="close-red">
						<a href="javascript:void(0)" (click)="logout($event)">Salir</a>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 list-tab">
					<ul class="links-group-chat">
						<li>
							<a class="btn btn-link tablinks" href="javascript:void(0)"
							*ngFor="let item of groupsItems; let i = index"
							[class.active]="(i == indexGroupSelected)"
							[attr.data-group-id]="item.id_group"
							(click)="openTheTab($event, item.id_group); indexGroupSelected = i">{{ item.name }}</a>
						</li>
						<li>
							<a class="btn btn-link tablinks disabled" href="javascript:void(0)">CHAT USER</a>
						</li>
					</ul>
					<hr>
				</div>
			</div><!-- header group-->

			<div class="float-left box-group-chat">
				<div *ngFor="let group of groupsItems; let i = index"
					class="group tabcontent"
					[style.display]="(i == indexGroupSelected) ? 'block' : 'none'"
					[attr.data-group-id]="group.id_group"
					[attr.id]="group.id_group">
					<div class="messages">

						<div *ngFor="let messageChat of messagesChat; let i = index" class="message-line">
							<div *ngIf="groupsItems[indexGroupSelected].id_group == messageChat.message.id_group"
							[attr.class]="(user.id_user == messageChat.message.id_user ) ? 'iam' : ''">
								<p><strong>{{ (messageChat.action == 'yo') ? 'Yo' : userDiccinary[messageChat.message.emisor].firstname }}</strong>:</p>
								<p>{{messageChat.message.message}}</p>
								<time [attr.datetime]="messageChat.message['at_created']">{{messageChat.message['at_created'] | amDateFormat:'HH:mm'}}</time>
							</div>
						</div>
					</div>
					<div class="input-data">
						<div style="position:static">
							<form action="">
								<div class="input-group">
									<input type="text" class="form-control" #message required>
									<div class="input-group-append">
										<span class="btn btn-danger btn-file">
											Subir<input type="file" (change)="fileChange($event)" placeholder="Upload file"
											class="d-none d-sm-block">
										</span>
										<button type="submit" class="btn btn-primary d-none d-sm-block"
										(click)="sendMessage($event, {
											'emisor': group.id_user,
											'receptor': group.id_group,
											'chatType': 'group',
											'name': user.firstname,
											'message': message.value,

											'id_group': group.id_group
										}); message.value=''; ">Enviar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div><!-- tab content -->

				<!-- Crear lista  de cuadros de CHAT personal -->
				<!-- {{indexUsersTabSelected | json}} -->
				<div class="group tabcontent" style="border:1px solid rebeccapurple; display:none" id="user-chat">
					<div class="messages">
						<div *ngFor="let messageChat of messagesChatUsers; let i = index" class="message-line">

							<div *ngIf="messageChat.message.id_group === 'user-chat'"
							[attr.class]="(user.id_user == messageChat.message.id_user ) ? 'iam' : ''">
								<p><strong>{{ (messageChat.message.emisor == user.id_user) ? 'Yo' : userDiccinary[messageChat.message.emisor].firstname }}</strong>:</p>
								<!-- <p><strong>{{ (messageChat.action == 'yo') ? 'Yo' : messageChat.message.name }}</strong>:</p> -->
								<p>{{messageChat.message.message}}</p>
								<time [attr.datetime]="messageChat.message['at_created']">{{messageChat.message['at_created'] | amDateFormat:'HH:mm'}}</time>
							</div>
						</div>
					</div>
					<!-- dubplicate  *input-data* -->
					<div class="input-data">
						<div style="position:static">
							<form action="">
								<div class="input-group">
									<input type="text" class="form-control" #messageUser>
									<div class="input-group-append">
										<span class="btn btn-danger btn-file">
											Subir<input class="d-none d-sm-block" type="file">
										</span>
										<button type="submit" class="btn btn-secondary d-none d-sm-block"
										(click)="sendMessage($event, {
											'emisor': user.id_user,
											'receptor': indexUsersTabSelected,
											'chatType': 'user',
											'name': user.firstname,
											'message': messageUser.value,

											'id_group': 'user-chat'
										}); messageUser.value=''; ">Enviar User</button>
									</div>
								</div>
							</form>
						</div>
					</div><!-- end duplicate -->
				</div>
			</div>

			<!-- {{ userDiccinary | json}} -->
			<div class="float-right box-user-status-chat">
				<!-- <app-online-users [linkeable]="(user.chat_plus === 1) ? true : false" [users]="groupUsers"></app-online-users> -->
				<h2>Contactos ({{ groupUsers.length }})</h2>
				<ul class="status-user-list">
					<li *ngFor="let item of groupUsers; let i = index; trackBy: trackByHeroes" >
						<a href="javascript:void(0)" class="btn"
							[class.disabled]="(user.chat_plus === 1 || item.counter_messages > 0) ? false : true"
							(click)="openTabPeer($event, {
								emisor: user.id_user,
								receptor: item.id_user
							});">
							<span class="ico-status" [class.active]="item.online"></span>
							{{item.firstname + ' '+ item.lastname | truncate:[20, '...']}}
						</a>
						<a href="javascript:void(0)" class="ico-message" *ngIf="item.tempMessageCounter > 0"
							(click)="openTabPeer($event, {
							emisor: user.id_user,
							receptor: item.id_user
						});" >[# {{item.tempMessageCounter}}]</a>
					</li>
				</ul>
			</div>
		</div><!-- body group-->
	</div>
</div>
