<div class="container the-content">
	<div class="row no-gutters_">
		<div class="col-10_ header-left">
			<h1>Usuario: {{user.id_rol | howiam }} identificado con DNI N {{user.dni}}</h1>
		</div>
		<div class="col-2_ header-right">
			<p class="close-red">
				<a href="javascript:void(0)">Salir</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<ul class="list-tab mt-2">
				<li><a href="javascript:void(0)">Usuarios</a></li>
				<li><a href="javascript:void(0)">Grupos</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-8">
			<h2>Lista de Usuarios</h2>
		</div>
		<div class="col-4">
			<h2>Mantenimiento</h2>
			<ol>
				<li><a href="javascript:void(0)">Nuevo</a></li>
				<li><a href="javascript:void(0)">Listar</a></li>
			</ol>
		</div>
	</div>
</div>

<div class="container the-content-footer">
	<div class="row no-gutters_">
		<div class="col-12">
			&nbsp;
		</div>
	</div>
</div>
