@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
.the-content{
	display: flex;
	flex-direction: column;
	// justify-content: center;

	background-color: #eee;
	height: 95vh;
	// padding: 0;
}
.the-content-footer{
	height: 5vh;
	// padding: 0;
}
.row:nth-child(1){
	background-color: $primary;
}
// .content-flex{
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// }
.header-left{
	display: block;
	@include media-breakpoint-up(xs) {
		width: 80%;
	}
	@include media-breakpoint-up(sm) {
		width: 90%;
	}
	@include media-breakpoint-up(md) {
		width: 95%;
	}
	h1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		font-size: 1.3em;
		font-weight: bold;
		color: white;
		text-align: center;
		margin: 0;
		padding: 0;
		@include media-breakpoint-up(xs) {
			font-size: 1em;
		}
	}
}
.header-right{
	display: block;
	background-color: $red;
	text-align: center;
	@include media-breakpoint-up(xs) {
		width: 20%;
	}
	@include media-breakpoint-up(sm) {
		width: 10%;
	}
	@include media-breakpoint-up(md) {
		width: 5%;
	}
	.close-red{
		font-size: 1.3em;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin: 0;
		@include media-breakpoint-up(xs) {
			font-size: 1em;
		}
		a{
			color: white;
			font-weight: bold;
		}
	}
}

ul.list-tab{
	margin: 0;
	padding: 0;
	li{
		display: inline;
		margin-right: 1em;
	}
}
