
@import "./assets/bootstrap/_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/chatline.scss";
// setting font-awesome
// $fa-font-path : '../node_modules/font-awesome/fonts';
// @import "../node_modules/font-awesome/scss/font-awesome.scss";

// @import "../node_modules/patternfly/dist/css/patternfly.css";
/**
 * customs css
 **/

.chatline{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	h2 {
		font-size: 1.35em;
	}
	.form-group.row{
		margin: 0 0 0.19em 0;
	}
	// fix show radio button input native
	.custom-control-input{
		position: inherit;
		z-index: auto;
		opacity: 1;
	}
	.table{
		border-collapse: collapse;
		background-color: #fff;
	}

	// imports break-point into internal file sass
	@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
	.the-content{
		// display: flex;
		// flex-direction: column;

		.row .header-left{
			background-color: $primary;
		}
	}
	.header-left{
		display: block;
		@include media-breakpoint-up(xs) {
			width: 80%;
		}
		@include media-breakpoint-up(sm) {
			width: 90%;
		}
		@include media-breakpoint-up(md) {
			width: 95%;
		}
		h1{
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			font-size: 1.3em;
			font-weight: bold;
			color: white;
			text-align: center;
			margin: 0;
			padding: 0;
			@include media-breakpoint-up(xs) {
				font-size: 1em;
			}
		}
	}
	.header-right{
		display: block;
		background-color: $red;
		text-align: center;
		@include media-breakpoint-up(xs) {
			width: 20%;
		}
		@include media-breakpoint-up(sm) {
			width: 10%;
		}
		@include media-breakpoint-up(md) {
			width: 5%;
		}
		.close-red{
			font-size: 1.3em;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			margin: 0;
			@include media-breakpoint-up(xs) {
				font-size: 1em;
			}
			a{
				color: white;
				font-weight: bold;
			}
		}
	}
	.list-tab {
		ul{
			margin: 0;
			padding: 0;
			li{
				display: inline;
				margin-right: 1em;
				a.active {
					font-weight: bold;
					text-decoration: underline;
				}
				a{
					padding-top: 0.25em;
					padding-bottom: 0.25em;
				}
			}
		}
		hr{
			display: block;
			content: '';
			margin: 0 0 0.3em 0em;
		}
	}

	// raiz section
	.the-content{
		height: 100%;
		width: 100%;
		// overflow: hidden;
		background-color: #eee;
		.box{
			width: 100%;
			height: 95%;;
		}
		.box-group-chat{
			padding: 0;
			// background-color: skyblue;
			width: 80%;
			height: 90%;
			@include media-breakpoint-down(sm) {
				width: 70%;
			}
			@include media-breakpoint-down(xs) {
				width: 100%;
			}
			.tabcontent{
				position: relative;
				height: 100%;
				// padding: 0.5em 1em  0.2em 1em;
				padding: 0;
				margin: 0;
				.messages{
					padding: 0 0.5em;
					min-height: 250px;
					height: 90%;
					border:1px solid pink;
					overflow-y: scroll;
					background-color: white;
					.message-line{
						div{
							position: relative;
							p{
								margin: 0;
							}
							time{
								font-size: 0.7em;
								position: absolute;
								bottom: 0.3em;
								right: 0.3em;
							}
						}
						div.iam{
							background-color: ghostwhite;
							strong{
								color:$secondary;
							}
						}
					}
				}
				.input-data{
					position: absolute;
					bottom: 0;
					width: 100%;
					input{
						border-color: black;
					}
					button[type="submit"]{
						padding-left: 2em;
						padding-right: 2em;
						font-weight: bold;
					}
				}
			}
		}
		.box-user-status-chat{
			padding: 0;
			padding-left: 0.3em;
			width: 20%;
			// height: 100%;
			@include media-breakpoint-down(sm) {
				width: 30%;
			}
			@include media-breakpoint-down(xs) {
				width: 100%;
			}
			h2{
				font-size: 1em;
			}
			ul.status-user-list{
				padding: 0;
				list-style: none;
				a{
					color:black;
					padding: 0;
					text-align: left;
					white-space:normal;
					opacity: 1;
				}
				a:hover{
					color: $primary;
				}
				.ico-status{
					background:#eb3d00;
					border-radius: 50%;
					display: inline-block;
					height: 0.750em;
					margin-left: 0;
					width: 0.750em;
					border: 1px solid black;
					&.active{
						background: rgb(66, 183, 42);
					}
				}

			}
		}
	}
}


