
@import "./assets/bootstrap/_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// @import "../node_modules/patternfly/dist/css/patternfly.css";

/**
 * customs css
 **/

// fix show radio button input native
.custom-control-input{
	position: inherit;
	z-index: auto;
	opacity: 1;
}
.table{
	border-collapse: collapse;
	background-color: #fff;
}
